@page "/creatematch"
@using GameClient.Data
@using GameClient.DTO
@using GameClient.Services
@using global::Shared
@using global::Shared.Data
@using static global::Shared.Data.Messages
@inject IGameService GameService
@inject NavigationManager navMgr

<PageTitle>Create match</PageTitle>

@foreach (var game in _availableGames) {
    <h1>@game.Name</h1>
    <div style="width: 400px; height: 300px; background-color: #dddddd;">
        <img style="width:100%; height: 100%;"  src="@HtmlUtil.ToImgSrcString(game.GamePicture, game.GamePictureType)" alt="game picture"/>
    </div>
    <p>
    <button @onclick="@(e => OnCreateClicked(game))">Create match</button>
    </p>
}

@code {
    private IEnumerable<Game> _availableGames = Enumerable.Empty<Game>();

    protected override Task OnInitializedAsync() {
        var req = new GetGamesRequest();
        var res = GameService.GetGames(req);
        _availableGames = res.games;
        return base.OnInitializedAsync();
    }

    private void OnCreateClicked(Game selectedGame) {
        try {
            var req = new CreateMatchRequest(selectedGame.GameId);
            var res = GameService.CreateMatch(req);

            if (res.errorReason == "") {
                navMgr.NavigateTo("/match/" + res.match.MatchId);
            } else {
                // TODO(rune): Show error reason.
            }
        } catch (NotAuthorizedException) {
            // TODO(rune): Error handling.
        }
    }

}
