@page "/creatematch"
@using GameClient.Data
@using GameClient.DTO
@using GameClient.Services
@using global::Shared.Data
@inject IGameService GameService
@inject IAuthService AuthService

<PageTitle>Create match</PageTitle>

@foreach (var game in _availableGames) {
    <h1>@game.Name</h1>
    <button @onclick="@(e => OnCreateClicked(game))">Create</button>
}

@code {
    private IEnumerable<Game> _availableGames = Enumerable.Empty<Game>();

    protected override Task OnInitializedAsync() {
        var req = new Messages.GetGamesRequest(AuthService.GetJwt());
        var res = GameService.GetGames(req);
        _availableGames = res.games;
        return base.OnInitializedAsync();
    }

    private void OnCreateClicked(Game selectedGame) {
        try {
            var req = new Messages.CreateMatchRequest(AuthService.GetJwt(), selectedGame.GameId);
            var res = GameService.CreateMatch(req);

            res = res;


        } catch (NotAuthorizedException) {
            // TODO(rune): Error handling.
        }
    }

}
