@page "/creatematchparticipants/{matchid}"
@using GameClient.Data
@using GameClient.DTO
@using GameClient.Services
@using global::Shared.Data
@using static global::Shared.Data.Messages
@inject IGameService GameService
@inject IAuthService AuthService

<PageTitle>Create match participants</PageTitle>

<h1>Accounts</h1>

@foreach (var a in _accounts) {
    <p>@(a.Username) <button>Invite</button></p>
}

@code {
    [Parameter]
    public string MatchId { get; set; } = "";

    private int _matchId = 0;
    private Match _match = Match.Empty();

    public IEnumerable<Account> _accounts = Enumerable.Empty<Account>();

    protected override void OnInitialized() {
        _matchId = ParseUtil.ParseIntOrDefault(MatchId, 0);
        if (_matchId != 0) {
            var req = new GetMatchReq(_matchId, AuthService.GetJwt());
            var res = GameService.GetMatch(req);
            _match = res.match;
        }

        {
            var req = new GetAccountsReq(AuthService.GetJwt());
            var res = GameService.GetAccounts(req);
            _accounts = res.accounts;
        }
    }
}
